
  .header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0b2e9;
    padding-top: 15px;
    color: rgb(33, 30, 30);
    font-size: large;
    font-weight: bold;    
  }

  h2{
    margin-top: 15px;
    text-align: center;
    font-size: x-large;
    text-decoration: underline;
    font-weight: bold;
    color: rgb(65, 63, 63);
  }

  .content {
    padding: 15px;
    display: flex;
    margin: 82px auto 32px;
    max-width: 550px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(252, 224, 248);
    border-radius: 9px;
    border: 3px solid grey;
  }

  button{
    color:rgb(255, 216, 255);   
    justify-content: center;
    font-size: larger;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  
    margin-top: 15px;
    margin-bottom: 15px;
  }

  table{
    background-color: rgb(65, 63, 63);
    color: #f0b2e9;
    border-radius: 5px;
    border: 3px solid;
    font-size: large;
    margin-block-end: 20px;
  }

  tr,th,td{
     border: 3px solid;
    text-align: center;
    padding: 20px;
  }

  
